/* Responsive CSS
* This is not only for layouts, but also any additional features such as CSS3 for any elements already declared in base.css
*/
/*!

* Header & Footer
*
*/
#logo { padding-left: 3%; }
#logo h2 { margin-left: -9px; }

#tagline { position: relative; font-size: .95em; top: -15px; }

a.mybyu, a.sign-in, .open #search-button { -webkit-transition: background-color 0.3s; transition: background-color 0.3s; }

#header-top a.sign-in { right: 3%; background: #4a79a7; background: -webkit-linear-gradient(top, #628cb6, #369); background: -webkit-gradient(linear, left top, left bottom, from(#628cb6), to(#369)); background: linear-gradient(top, #628cb6, #369); -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 8px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 8px rgba(0, 0, 0, 0.2); }
#header-top a.sign-in:hover { border: none; margin: 0; background: #366797; background: -webkit-linear-gradient(top, #4a79a7, #225588); background: -webkit-gradient(linear, left top, left bottom, from(#4a79a7), to(#225588)); background: linear-gradient(top, #4a79a7, #225588); }

#site-name:hover, .parentlink:hover { text-decoration: none; }

#logo a.parentlink:hover { color: #fff; }

#page-footer { -webkit-box-shadow: 0 -1px 0px #dddddd; box-shadow: 0 -1px 0px #dddddd; border-top: 1px solid #fff; }
#page-footer ul { margin-left: 0; list-style-type: none; }
#page-footer #footer-links li { line-height: 12px; }
#page-footer .site-links-small { font-size: .8em; }
#page-footer .outboundlinks { height: 30px; }
#page-footer .outboundlinks .linklogo { width: 40px; float: left; margin-right: .3em; }
#page-footer .outboundlinks .linklogo img { height: 25px; display: block; margin: auto; }
#page-footer .outboundlinks p { float: left; line-height: 25px; }

@media all and (min-width: 32em) { #logo a.byu { background-image: url("//home.byu.edu/home/sites/default/files/global/img/byu-logo-header.png"); width: 350px; }
  .svg #logo a.byu { background-image: url("//home.byu.edu/home/sites/default/files/global/img/byu-logo-header.svg"); } }
/* Medium width */
@media all and (min-width: 600px) { #main-header { background: #036; -webkit-background-size: 100% 100%; background-size: 100% 100%; }
  #header-top h1, #tagline { margin: .25em 4% .4em; }
  #logo { background-color: transparent; padding-bottom: 0; border: none; }
  .parentlink { letter-spacing: 1px; }
  #page-footer .wrapper { margin-left: 4%; margin-right: 4%; }
  #footer-links .col { display: inline-block; vertical-align: top; width: 41.855%; margin-left: 5.43%; padding-top: 1em; }
  #footer-links .double { width: 89.14%; }
  #footer-links .double .right, #footer-links .double .left { width: 46%; display: inline-block; }
  #footer-links .double .right { margin-left: 7%; }
  #footer-links h2 { margin: 0; } }
@media all and (min-width: 900px) { #page-footer .wrapper { margin: 1em auto 2em; }
  #page-footer #footer-bottom { padding: .5em 9% 1px; }
  #page-footer #footer-bottom a { display: inline-block; text-indent: -999em; }
  #page-footer #footer-bottom #lds { text-indent: 0em; }
  #page-footer #footer-bottom a#copyright { text-indent: 0em; }
  #page-footer #footer-bottom a#ldsbc, #page-footer #footer-bottom a#byui, #page-footer #footer-bottom a#byuh, #page-footer #footer-bottom a#byu { background: transparent url("../img/footer-logos.png") no-repeat; opacity: 0.7; margin: 0 5px; height: 51px; width: 70px; -webkit-transition: opacity 0.2s ease; transition: opacity 0.2s ease; float: left; }
  .svg #page-footer #footer-bottom a#ldsbc, .svg #page-footer #footer-bottom a#byui, .svg #page-footer #footer-bottom a#byuh, .svg #page-footer #footer-bottom a#byu { background-image: url("../img/footer-logos.svg"); }
  #page-footer #footer-bottom a#ldsbc:hover, #page-footer #footer-bottom a#byui:hover, #page-footer #footer-bottom a#byuh:hover, #page-footer #footer-bottom a#byu:hover { opacity: 1; }
  #page-footer #footer-bottom a#lds { width: 14em; text-align: center; opacity: .9; float: right; margin-right: -15px; /*
@extend %school-link;
background-position: -425px 0;
width: 160px;
*/ }
  #page-footer #footer-bottom a#ldsbc { background-position: -300px 0; }
  #page-footer #footer-bottom a#byui { background-position: -210px 0; margin-left: -6px; }
  #page-footer #footer-bottom a#byuh { background-position: -110px 0; }
  #page-footer #footer-bottom a#byu { background-position: -8px -9px; margin-left: -6px; width: 80px; }
  #footer-links .wrapper { margin-right: 0; margin-left: 9%; }
  #footer-links .col { display: inline-block; vertical-align: top; width: 20%; margin-left: 5%; padding-top: 1em; }
  #footer-links .double { width: 45%; }
  #footer-links .double .right, #footer-links .double .left { width: 43%; display: inline-block; }
  #footer-links .double .right { margin-left: 10%; }
  #footer-links .col.alpha, #footer-links .col:first-child { margin-left: 0; } }
@media all and (min-width: 1146px) { #page-footer #footer-links .wrapper { width: 1146px; max-width: 1146px; padding-left: 103.14px; margin-left: auto; margin-right: auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } }
/*!

* Navigation
*
*/
html { overflow-x: hidden; overflow-y: scroll; }

/* Side slider navigation */
body { -webkit-transition: left, height 0.2s ease; transition: left, height 0.2s ease; position: relative; left: 0; overflow: hidden; }

#content { background-color: white; }

#main-header, #content, #page-footer { z-index: 2; left: 0%; -webkit-transition: left 0.2s ease; transition: left 0.2s ease; }

.nav-container { min-height: 100%; position: absolute; left: 0; top: 0; width: 75%; z-index: 1; background-color: #147; font-size: .9em; }

/* Reset from base */
#primary-nav, #secondary-nav { border-top: none; padding: 0; }

/* Menu button */
/* Primary Nav */
#primary-nav { margin-top: 1em; font-size: 1.2em; }
#primary-nav a { color: white; padding: 1em 5%; display: block; font-weight: bold; }
#primary-nav a:hover { text-decoration: none; background-color: transparent; color: #fff; }
#primary-nav > ul { padding: 0; background: #036; border-right: 1px solid #147; }
#primary-nav li { display: block; float: none; padding: 0; border-bottom: 1px solid #025; border-top: 1px solid #147; overflow: hidden; }
#primary-nav li.left, #primary-nav li.right { padding: 0; }
#primary-nav li.hover { background-color: #001948; }
#primary-nav hr { display: none; }
#primary-nav a { -webkit-transition: all .2s; transition: all .2s; }
#primary-nav a.current, #primary-nav a:hover { color: #147; background-color: white; -webkit-transition: all .2s; transition: all .2s; }

/* Secondary Nav */
#secondary-nav { font-size: 1.2em; }
#secondary-nav a { color: white; padding: 1em 5%; display: block; font-weight: bold; }
#secondary-nav a:hover { text-decoration: none; background-color: transparent; color: #fff; }
#secondary-nav > ul { padding: 0; background: #036; border-right: 1px solid #147; }
#secondary-nav li { display: block; float: none; padding: 0; border-bottom: 1px solid #025; border-top: 1px solid #147; overflow: hidden; }
#secondary-nav li.left, #secondary-nav li.right { padding: 0; }
#secondary-nav li.hover { background-color: #001948; }

/*!

*
* Full menu width 
*
* YOU CAN MAKE ADJUSTMENTS HERE BASED ON YOUR SITE'S MENU
*
* This media query should be set to the width where the primary menu will fit 
* in the top bar without wrapping. Make sure to test in lots of browsers,
* and some buffer to account for differences in rendering. NOTE: If you use
* a width smaller than 45em, some other parts of the header may need to be
* adjusted--especially the BYU logo (it will run into the sign in button).
*
*/
/* 
* NOTE: The full-menu-width variable is found in _variables.scss
*/
@media all and (min-width: 960px) { #main-header { -webkit-background-size: 100% 120px; background-size: 100% 120px; }
  #header-top { height: 120px; margin-right: 3%; margin-bottom: 36px; }
  .nav-container { width: 100%; display: block; top: 120px; min-height: 36px; height: 37px; z-index: 5; background-color: #147; }
  #primary-nav, #secondary-nav { font-size: 1em; }
  #primary-nav > ul, #secondary-nav > ul { border-right: 0; background: transparent; }
  #primary-nav > ul > li, #secondary-nav > ul > li { float: left; }
  #primary-nav li, #secondary-nav li { border-top: 0px solid transparent; border-bottom: 0px solid transparent; }
  #primary-nav li.hover, #secondary-nav li.hover { overflow: visible; }
  #primary-nav li.hover > a, #secondary-nav li.hover > a { border-radius: 3px 3px 0 0; position: relative; z-index: 2; -webkit-box-shadow: 0px 3px 0px #fff; box-shadow: 0px 3px 0px #fff; }
  #primary-nav li.hover a, #secondary-nav li.hover a { background: #fff; color: #001948; text-shadow: none; -webkit-transition: background-color, ease 0.05s; transition: background-color, ease 0.05s; }
  #primary-nav li.hover ul a:hover, #secondary-nav li.hover ul a:hover { background: #d1e4f6; color: #001948; }
  #primary-nav a, #secondary-nav a { padding: .6em 1.2em; }
  #primary-nav { padding-left: 2%; margin-top: 0; }
  #primary-nav > ul { margin: 0 auto; position: relative; }
  #primary-nav hr { display: block; }
  #primary-nav hr { border: none; border-top: 1px solid #ddd; }
  #secondary-nav { position: absolute; top: -41px; right: 9px; }
  #secondary-nav a { display: inline-block; color: #d1e4f6; }
  #secondary-nav a:hover { background: transparent; color: #fff; } }
#feature { border-bottom: none; }
#feature .feature-image { text-align: left; }

.feature-description { position: absolute; top: 0; right: 0; width: 190px; margin: 0; background-color: #e0edf9; height: 393px; padding: 0 25px; border-left: 1px solid #e0edf9; -webkit-box-shadow: inset 0 0 110px 5px rgba(145, 178, 210, 0.5), 0 0 12px rgba(0, 0, 0, 0.25); box-shadow: inset 0 0 110px 5px rgba(145, 178, 210, 0.5), 0 0 12px rgba(0, 0, 0, 0.25); }
.feature-description h2 { font-size: 24px; line-height: 30px; margin: 20px 0px 10px; }
.feature-description a, .feature-description a:link, .feature-description a:visited, .feature-description a:active, .feature-description a:hover, .feature-description a:focus { color: #369; }
.feature-description.lightText { color: white; }
.feature-description.lightText * { opacity: 0.75; }
.feature-description.lightText a, .feature-description.lightText a:link, .feature-description.lightText a:visited, .feature-description.lightText a:active, .feature-description.lightText a:hover, .feature-description.lightText a:focus { color: white; opacity: 1; }

@media all and (min-width: 900px) { #news { width: 45%; float: right; border-top: none; border-bottom: none; padding-top: 1.5em; padding-bottom: 2em; padding-right: 0; }
  #news h2 { font-size: 1.5em; border-bottom: 1px solid #ddd; margin-bottom: 18px; }
  .news-item { padding: 1em 0; border-bottom: 1px solid #eee; }
  #intro { font-style: italic; }
  #intro .justright { text-align: right; }
  #intro .justfull { text-align: justify; }
  #calendar { width: 40%; float: left; }
  #cal-submit { float: right; margin-top: -1em; margin-bottom: 1em; }
  #full-cal { margin-bottom: -1.5em; display: block; text-align: center; }
  .day { font-size: .9em; clear: both; padding-top: 0; margin-bottom: 1.5em; overflow: hidden; overflow: hidden; margin: 0 0 .25em; padding-left: 14px; }
  .day h3 { margin-top: 0; }
  .day .date { font-size: 1.5em; }
  .day a { clear: both; }
  .day .time { clear: none; float: right; text-align: right; }
  .day span.date { font-size: 1.2em; }
  .day h3 { font-size: 1em; clear: both; margin-top: 0; margin-left: -14px; }
  .day a, .day p { margin-bottom: .5em; text-indent: -8px; }
  .day .eventinfo { padding-left: .5em; font-size: .8em; text-indent: 0; line-height: 1em; text-align: right; float: right !important; }
  .day .eventinfo p { color: #666; }
  .pageIntro { width: 70%; margin: auto; text-align: center; }
  .pageIntro p { font-style: italic; font-size: 1.3em; line-height: 1.4em; margin: 1em 0; }
  #contribute { clear: both; text-align: center; padding: 4%; padding-bottom: 0; }
  #contribute p { font-size: 1.4em; line-height: 1.4em; }
  #contribute form { display: inline; }
  #contribute button { width: 30%; font-size: 1.5em; line-height: 4em; color: #147; background-color: #abc8e4; border: none; border-radius: 15px; margin: 2% 1% 0; outline: none; -webkit-transition: all .2s; transition: all .2s; }
  #contribute button:hover { color: #abc8e4; background-color: #147; }
  #smallside { width: 34.755%; }
  #news { width: 56.238%; }
  a.seeall { float: right; }
  #news-container { clear: both; }
  .news-item { width: 100%; float: left; margin-right: 5%; }
  .news-item img { float: left; width: 47%; }
  .news-item .news-description { float: left; width: 53%; padding: 2% 0; }
  .news-item .news-description h3, .news-item .news-description p { padding-left: 6%; margin-top: 1%; }
  .news-item .news-description h3 { font-size: 1.2em; }
  .baseline { clear: both; }
  #aboutus img, #aboutus article { float: left; font-family: "Whitney SSm A", "Whitney SSm B", "OpenSans", "Thonburi", "DroidSans", "Droid Sans", "sans-serif", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif; font-weight: 500; }
  #leaders h2, #team h2, #research h2 { text-align: center; color: #369; margin-bottom: 1.1em; text-shadow: 1px 1px 5px #d1e4f6; font-size: 2.2em; }
  #leaders p, #leaders span, #team p, #team span, #research p, #research span { text-align: left; }
  #leaders span, #team span, #research span { font-weight: bold; }
  #leaders { width: 80%; margin: auto; }
  #leaders .profile { float: left; width: 48%; }
  #leaders .profile img, #leaders .profile article { float: left; }
  #leaders .profile img { width: 35%; }
  #leaders .profile article { width: 55%; padding-left: 5%; }
  #leaders .profile article span, #leaders .profile article p { display: inline; font-size: 1.1vw; }
  #leaders #Alan { margin-right: 4%; }
  #team { width: 90%; margin: auto; margin-top: 4em; }
  #team img { width: 25%; }
  #team article { width: 60%; font-size: .9vw; }
  #team .profile { padding: 1% 0; width: 49%; }
  #team .profile img, #team .profile article { vertical-align: middle; }
  #team .profile:nth-child(2n) { float: left; margin-right: 1%; }
  #team .profile:nth-child(2n) img, #team .profile:nth-child(2n) article { float: right; margin-right: 2%; }
  #team .profile:nth-child(2n) p, #team .profile:nth-child(2n) span { text-align: right; float: right; }
  #team .profile:nth-child(2n+1) { float: right; margin-left: 1%; }
  #team .profile:nth-child(2n+1) img, #team .profile:nth-child(2n+1) article { float: left; margin-left: 2%; }
  #team .profile:nth-child(2n+1) p, #team .profile:nth-child(2n+1) span { text-align: left; float: left; }
  #team .profile { -webkit-transition: all .3s; transition: all .3s; }
  #team .profile:hover { -webkit-transform: scale(1.05); -ms-transform: scale(1.05); transform: scale(1.05); background-color: #eff6fc; -webkit-transition: all .3s; transition: all .3s; }
  #research #currentProjects { display: none; }
  #research #currentProjects:target { display: block; }
  #research #completedResearch { display: none; }
  #research #completedResearch:target { display: block; }
  #research p.researchLink a { font-size: .9em; display: block; width: 50%; text-align: center; color: #444; margin: -1em auto 2em auto; }
  #research .sortBox { width: 80%; margin: 0 auto 2.5em auto; }
  #research .sortBy { width: 100%; }
  #research .sortBy * { outline: none; }
  #research .sortBy p, #research .sortBy form, #research .sortBy input, #research .sortBy select { display: block; float: left; }
  #research .sortBy p, #research .sortBy input, #research .sortBy select { font-size: .8em; height: 1.8em; border-radius: 3px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }
  #research .sortBy input, #research .sortBy select { background-color: #d1e4f6; border: none; }
  #research .sortBy input[type="submit"], #research .sortBy input[type="button"] { color: white; background-color: #369; border: none; line-height: 1.3em; }
  #research .sortBy input[type="submit"]:active, #research .sortBy input[type="button"]:active { background-color: #628cb6; border: none; -webkit-box-shadow: 0 0 1px #369 inset; box-shadow: 0 0 1px #369 inset; }
  #research .sortBy p { font-size: .9em; width: 10%; margin-right: 1%; }
  #research .sortBy input[type="button"] { width: 17%; margin-right: 2.5%; }
  #research .sortBy select { width: 20%; margin-right: 1%; }
  #research .sortBy input[type="text"] { width: 20%; margin: 0 1%; padding-left: 3px; }
  #research .sortBy input[type="submit"] { width: 5%; margin: 0; float: right; }
  #research .sortBy input.clearfilters { float: none; clear: both; width: 120px; margin: 1em auto 0 auto; background-color: #aaa; border: 1px solid #999; }
  #research .scrollcontainer { width: 33%; margin-right: 2%; float: left; height: 600px; }
  #research .scrollcontainer .scrollbar { height: 580px; overflow: auto; }
  #research .scrollcontainer .scrollbar article { padding: 0 10% 3% 0; border-bottom: 1px solid #ddd; margin-bottom: 1em; margin-top: 1em; }
  #research .scrollcontainer .scrollbar article p { margin: 0; font-size: .8em; }
  #research .scrollcontainer .scrollbar article p.title { font-weight: bold; color: #369; font-size: .9em; }
  #research .scrollcontainer .scrollbar article p.author { font-style: italic; }
  #research .scrollcontainer .scrollbar article.selected { background: url(../images/research/selected_triangle3.png) 95% 50% no-repeat; -webkit-background-size: 1em 2em; background-size: 1em 2em; }
  #research .scrollcontainer .scrolltop { height: 8px; background: url(../images/research/scroll_shadow_top.png) no-repeat; }
  #research .scrollcontainer .scrollbottom { height: 10px; background: url(../images/research/scroll_shadow_bottom.png) no-repeat; }
  #research .detailBox { width: 65%; float: right; padding: 2em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 2px solid #d1e4f6; border-radius: 1px; background-color: #eff6fc; height: 600px; overflow: auto; }
  #research .detailBox p.title { font-size: 1.3em; text-align: center; line-height: 1.4em; }
  #research .detailBox p.author { text-align: center; margin-bottom: 1em; font-weight: normal; }
  #research .detailBox article.abstract { font-style: italic; font-size: .9em; margin-bottom: 1em; }
  #research .detailBox article.abstract hr { width: 20%; margin: 1em auto; border: 0; height: 2px; background-color: #ddd; }
  #research .detailBox article.snippet { font-size: .9em; }
  #research .detailBox p.moreLink { float: right; }
  #research .detailBox p.moreLink a { color: #147; text-decoration: underline; }
  #research .detailBox .authorPic { background: url(../images/profile_pics/beth_wilkins.jpg) 50% 50% no-repeat; overflow: hidden; width: 200px; height: 200px; margin: .5em auto; }
  #research .detailBox article.status, #research .detailBox article.needs, #research .detailBox article.interests, #research .detailBox article.abstract { margin-bottom: 1em; }
  #research .detailBox article.status p, #research .detailBox article.needs p, #research .detailBox article.interests p, #research .detailBox article.abstract p { display: inline; }
  #research .detailBox article.status p:first-child, #research .detailBox article.needs p:first-child, #research .detailBox article.interests p:first-child, #research .detailBox article.abstract p:first-child { font-weight: bold; }
  #research #currentProjects h2 { color: #aa8d4c; text-shadow: 1px 1px 5px #ede7d8; }
  #research #currentProjects .sortBy input, #research #currentProjects .sortBy select { background-color: #e7dfcb; }
  #research #currentProjects .sortBy input[type="submit"], #research #currentProjects .sortBy input[type="button"] { color: #444; background-color: #d0bf97; }
  #research #currentProjects .sortBy input[type="submit"]:active, #research #currentProjects .sortBy input[type="button"]:active { background-color: #c5af7d; -webkit-box-shadow: 0 0 1px #bda46b inset; box-shadow: 0 0 1px #bda46b inset; }
  #research #currentProjects .sortBy input.clearfilters { color: white; background-color: #aaa; border: 1px solid #999; }
  #research #currentProjects .scrollcontainer .scrollbar article p.title { color: #333; }
  #research #currentProjects .scrollcontainer .scrollbar article.selected { background: url(../images/research/selected_triangle4.png) 95% 50% no-repeat; -webkit-background-size: 1em 2em; background-size: 1em 2em; }
  #research #currentProjects .scrollcontainer .scrolltop { height: 8px; background: url(../images/research/scroll_shadow_top2.png) no-repeat; }
  #research #currentProjects .scrollcontainer .scrollbottom { height: 10px; background: url(../images/research/scroll_shadow_bottom2.png) no-repeat; }
  #research #currentProjects .detailBox { border: 2px solid #f3efe5; background-color: #f9f7f2; }
  #research #currentProjects p.moreLink a { color: #bda46b; }
  #research #currentProjects article.abstract { font-size: 1em; }
  #research #currentProjects p.author:first-line { font-weight: bold; }
  #research #button-container p { text-align: center; font-weight: normal; font-size: 1.5em; }
  #research #button-container button { width: 30%; line-height: 3em; color: #147; background-color: #abc8e4; -webkit-transition: all .2s; transition: all .2s; }
  #research #button-container button:hover { color: #abc8e4; background-color: #147; } }
.clearer { clear: both; }

/*!
* Content 
*
*/
@media screen and (min-width: 1146px) { body { background: url("../img/background-patterns/redox_01.png") top center repeat; color: #444; }
  .wrapper { width: 80%; margin: 0 auto; }
  #content { position: relative; min-height: 100%; width: 939.72px; padding-left: 103.14px; padding-right: 103.14px; -webkit-box-shadow: 0 0 30px 0px rgba(222, 222, 222, 0.7); box-shadow: 0 0 30px 0px rgba(222, 222, 222, 0.7); } }
@media (min-width: 1146px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) { /* Retina-specific stuff here */
  body { background-image: url("../img/background-patterns/redox_01@2x.png"); -webkit-background-size: 600px 375px; background-size: 600px 375px; } }
/*!

* Type 
*
*/
#header-top h1, #tagline { color: white; font-family: "Requiem Text A", "Requiem Text B", "Palatino", Georgia, serif; font-weight: 400; }

h1, h2 { font-family: "Sentinel A", "Sentinel B", "CreteRound", "Palatino", "DroidSerif", "Droid Serif", Georgia, serif; font-weight: 500; }

h2 .parentlink { font-family: "Requiem Text A", "Requiem Text B", "Palatino", Georgia, serif; font-weight: 400; }

h3, h4, h5, h6 { font-family: "Whitney SSm A", "Whitney SSm B", "OpenSans", "Thonburi", "DroidSans", "Droid Sans", "sans-serif", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif; font-weight: 600; }

#intro { font-family: "Sentinel SSm A", "Sentinel SSm B", "Sentinel A", "Sentinel B", "CreteRound", "Palatino", "DroidSerif", "Droid Serif", Georgia, serif; font-weight: 300; font-size: 1.2em; line-height: 1.7em; letter-spacing: -.5px; padding: 1px; }
#intro .justfull:first-letter { font-size: 1.5em; }
#intro .justright { font-size: .86em; letter-spacing: 0px; line-height: 1em; }

a.sign-in, .nav-container a { font-family: "Whitney SSm A", "Whitney SSm B", "OpenSans", "Thonburi", "DroidSans", "Droid Sans", "sans-serif", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif; font-weight: 500; }

strong { font-weight: 600; }

#page-footer h2 { font-family: "Whitney SSm A", "Whitney SSm B", "OpenSans", "Thonburi", "DroidSans", "Droid Sans", "sans-serif", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif; font-weight: 600; }

body, button, input, select, textarea { font-size: 15px; line-height: 20px; font-family: "Whitney SSm A", "Whitney SSm B", "OpenSans", "Thonburi", "DroidSans", "Droid Sans", "sans-serif", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif; font-weight: 500; }

h1 { font-size: 2.2em; line-height: 40px; margin: 30px 0px 20px; }

h2 { font-size: 1.8em; line-height: 30px; margin: 30px 0px 20px; }

h3 { font-size: 1.3em; line-height: 25px; margin: 25px 0px 10px; }

h4 { font-size: 1.15em; line-height: 20px; margin: 25px 0px 10px; }

h5 { font-size: 1em; line-height: 20px; margin: 20px 0px 10px; }

h6 { font-size: .9em; line-height: 20px; margin: 15px 0px 10px; }

/*** Larger width ***/
@media all and (min-width: 1146px) { #primary-nav { width: 1008px; margin: 0 auto; padding-left: 0; }
  #primary-nav .mega { width: 100%; }
  #primary-nav a { padding-left: 72px; padding-right: 72px; }
  #secondary-nav a { padding-left: 12px; padding-right: 12px; }
  #logo { padding-left: 72px; }
  #header-top { max-width: 1008px; margin-right: auto; }
  #secondary-nav { right: 50%; margin-right: -504px; } }

/*# sourceMappingURL=responsive.css.map */
