/*** Navigation ***/
.nav-container {
  a {
    font-size: 16px;
    padding:.5em 0;
    display: block;
    font-weight: bold;
    padding-left: 5%;
    padding-right: 5%;
    &:hover, &:active {
      background-color: #eeebe9;
      color: $blue0;
    }
  }
}

#primary-nav, #secondary-nav {
  border-top:1px solid #ddd;
  padding:10px 0;
}
