//
// Shared styling for all pages
//

@import "variables";
@import "colors";
@import "mixins";

.pageIntro {
    width: 70%;
    margin: auto;
    text-align: center;
    p {
        font-style: italic;
        font-size: 1.3em;
        line-height: 1.4em;
        margin: 1.66667em 0 0;
    }
}

#contribute {
	clear: both;
	width: 40%;
	padding-top: 1.5em;
    padding-bottom: 1.5em;
	margin: 3.5em auto 0;
    border-top: 2px solid $blue6;
    border-bottom: 2px solid $blue6;
    p, a {margin-top: 0; font-size: 1.3em; display:inherit; text-align: center; line-height: 1.3em;}
}