
// Variables


// Paths

$asset-base: '//home.byu.edu/home/sites/default/files/global/';

// Fonts
$sans-font-stack: "Whitney SSm A", "Whitney SSm B", "OpenSans", "Thonburi", "DroidSans", "Droid Sans", "sans-serif", "Lucida Grande","Lucida Sans Unicode","Lucida Sans", Helvetica,Arial,sans-serif;
$sans-font-weight: 500;
$sans-font-weight-bold: 600;
$serif-font-stack: "Sentinel A", "Sentinel B", "CreteRound", "Palatino", "DroidSerif", "Droid Serif", Georgia, serif;
$serif-font-weight: 500;
$serif-ssm-font-stack: "Sentinel SSm A", "Sentinel SSm B", "Sentinel A", "Sentinel B", "CreteRound", "Palatino", "DroidSerif", "Droid Serif", Georgia, serif;
$serif-ssm-font-weight: 300;
$byu-font-stack: "Requiem Text A", "Requiem Text B", "Palatino", Georgia, serif;
$byu-font-weight: 400;


// Body background

$body-bg: "redox_01";
$body-bg-size: 600px 375px;


// Typography
// -------------------------
$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif !default;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace !default;

