
/*** Larger width ***/
@media all and ( min-width:$larger-width ) {
	$display_width:1008px;
	$side_padding: 72px;
	$side-padding-small: 12px;

	#primary-nav {
		width: $display_width;
		margin:0 auto;
		padding-left: 0;
		.mega {
			width: 100%;
		}
	}

	#primary-nav{
		a {
			padding-left: $side_padding;
			padding-right: $side_padding;
		}
	}
	
	#secondary-nav{
		a {
			padding-left: $side_padding-small;
			padding-right: $side_padding-small;
		}
	}

	#logo {
		padding-left: $side_padding;
	}

	#header-top {
		max-width: $display_width;
		margin-right: auto;
	}

	#secondary-nav {
		right:50%;
		margin-right: -$display_width/2;
	}

}