
@import "shared/variables";

#feature {
	border-bottom: none;
	.feature-image {
		text-align: left;
	}
}

.feature-description {
	position: absolute;
	top: 0;
	right: 0;
	width: 190px;
	margin: 0;
	background-color: $blue9;
	height: 393px;
	padding: 0 25px;
	border-left:1px solid $blue9;
	@include box-shadow( inset 0 0 110px 5px rgba($blue6, .5), 0 0 12px rgba(black, .25) );
	h2 {
		font-size:24px;
		line-height: 30px;
		margin: 20px 0px 10px;
	}
	a, a:link, a:visited, a:active, a:hover, a:focus {
		color: $blue4;
	}
	&.lightText {
		color: white;
		* {
			opacity: 0.75;
		}
		a, a:link, a:visited, a:active, a:hover, a:focus {
			color: white;
			opacity: 1;
		}
	}
}
