extends _layout

block pageTitle
	| BYU - Page not found

block navlinks
	li 
		a.single(href='index.html') Home
	li
		a.single(href='examples.html') Examples
	li
		a.single(href='research.html#completedResearch') Research
	li
		a.single(href='about.html') About Us
	li
		a.single(href='contribute.html') Contribute

block content
	h1 Oops, we couldn&rsquo;t find that page on our server
	p Maybe we misplaced something, or perhaps you've discovered an outdated link (sorry about that).

	h2 Coming Soon!
	p 
		| If you were looking for the New Faculty Seminar page or the Common Concerns page, they're not actually being built until later. Thanks for showing your interest! Please choose a tab above to continue.


	