//-	===============
//-	PAGE START
//-	===============

doctype html
//[if lt IE 7]> <html lang="en" class="no-js oldie lt-ie9 lt-ie8 lt-ie7"><![endif]
//[if IE 7]>    <html lang="en" class="no-js oldie lt-ie9 lt-ie8"><![endif]
//[if IE 8]>    <html lang="en" class="no-js oldie lt-ie9"><![endif]
//[if gt IE 8]> <! html.no-js(lang="en")<![endif]


block head
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title
			block pageTitle
				| Faith &amp; Learning Initiative
		meta(name='description', content='The Faith & Learning Initiative is an effort to spotlight, support, and inspire faculty as they fulfill the unique mission of BYU: “to assist individuals in their quest for perfection and eternal life.”')
		meta(name='author', content='The Faith & Learning Initiative')
		meta(name='keywords', content='faith, learning, study, BYU, Brigham, Young, University')
		//- meta(name='viewport', content='width=device-width, , initial-scale=1')

		// Place favicon.ico and apple-touch-icon.png in the root directory
		link(rel='shortcut icon', href='favicon.ico')

		// Scripts loaded via script loader. See notes in init.js file.
		script(src='js/modernizr.js')
		block settings
			script.
				// Use these settings to control the default scripts in the BYU template
				window.pageSettings = {
					//- jQueryURL:      "http://byuweb.github.io/Global-Assets/js/jquery-1.10.2.min.js", // Use this default, or load jQuery from somewhere else
					//- jQueryVersion:  "1.10.2", // The jQuery version for fallback in case there's a problem loading jQuery
					loadslider:     false, // Whether the image slider is present on the page
					gcse_search:    false, // Use the Google Custom Search Engine for the site's search?
					analytics_key:  'UA-59389403-1' // Insert your Google Analytics key
				}
		script(src='js/init.js')
		

		// Styles
		block styling
			link(rel='stylesheet', href='//cloud.typography.com/75214/740862/css/fonts.css')
			link(rel='stylesheet', href='css/base.css')

	//-	===============
	//-	BODY START
	//-	===============
	body
		//if lt IE 7
			p.chromeframe
				| You are using an
				strong outdated
				| browser. Please
				a(href='http://browsehappy.com/') upgrade your browser
				| or
				a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
				| to improve your experience.


		//-	===============
		//-	HEADER
		//-	===============
		block header
			header#main-header(role='banner')
				#header-top.wrapper
					a#logo(href='http://www.byu.edu/')
						img(src="http://home.byu.edu/home/sites/default/files/global/img/byu-logo-header.svg")

					// This should link to your organization's home page
					h1
						a#site-name(href='index.html', title="Faith & Learning Initiative")
							block heading
								| Faith & Learning Initiative
						p#tagline Achieving the Unique Mission of BYU

					block sign-in
						a.sign-in.button(href='http://home.byu.edu/home/cas') Sign in

		//-	===============
		//-	NAV
		//-	===============
		block nav
			.nav-container

				// Primary Nav
				nav#primary-nav(role='navigation'): ul
					block navlinks
						li 
							a.current(href='index.html') Home
						li
							a(href='examples.html') Examples
						li
							a(href='research.html') Research
						li
							a(href='getinvolved.html') Get Involved
						li
							a(href='about.html') About Us

				// Secondary Nav
				nav#secondary-nav(role='navigation'): ul
					li
						a(href='nfseminar.html') New Faculty Seminar
					li
						a(href='faq.html') Common Concerns

		//-	===============
		//-	MAIN CONTENT WRAPPER
		//-	===============
		block contentwrapper
			- if( typeof(contentclasses) == 'undefined') { var contentclasses = '' }
			#content(class='wrapper clearfix #{contentclasses}', role='main')								
				//-	===============
				//-	CONTENT
				//-	===============
				block content
					// Content goes here, if any

		//- ===============
		//-	FOOTER
		//-	===============
		block footer
			footer#page-footer(role='contentinfo')
				#footer-links
					.wrapper
						.col.alpha
							h2 Site Links
							ul
								li: a(href='#') Home
								li: a(href='explore.html') Explore
								li: a(href='research.html') Research
								li: a(href='about.html') About Us
								li.site-links-small: a(href='nfseminar.html') New Faculty Seminar
								li.site-links-small: a(href='faq.html') Common Concerns

						.col
							h2 Contact Us
							ul
								li: a#fclink(href="http://facultycenter.byu.edu") BYU Faculty Center
								li: p 4450 WSC
								li: p Provo, UT 84602
								li: a(href="mailto:fc_frontdesk@byu.edu?Subject=Faith%20and%20Learning%20Initiative" target="_blank") fc_frontdesk@byu.edu
								li: p (801)-422-7419
						.col.omega.double
							h2 Related Links
							ul
								li: a.outboundlinks(href='http://ctl.byu.edu/gospel-perspectives-on-teaching')
									.linklogo: img(src='images/ctl_logo.png')
									p Gospel Perspectives on Teaching
								li: a.outboundlinks(href='https://www.youtube.com/c/byufaithandlearning')
									.linklogo: img(src='images/YouTube-icon-full_color.png')
									p BYU Faith &amp; Learning on Youtube
			//
				| CONTENT END



		//- ===============
		//- END SCRIPTS
		//- ===============
		block end-scripts


