
extends _layout

block append styling
	link(rel='stylesheet', href='css/aboutus.css')

block prepend contentwrapper
	- var contentclasses = ''

block navlinks
	li 
		a(href='index.html') Home
	li
		a(href='examples.html') Videos &amp; Quotes
	li
		a(href='research.html') Research
	li
		a(href='getinvolved.html') Get Involved
	li
		a.current(href='about.html') About Us

block content
	#aboutus
		.pageIntro
			p Our purpose is to support and inspire faculty in fulfilling their stewardships to help students grow both spiritually and intellectually.
		#leaders.clearfix
			h2 Leadership
			//- profile pictures should be 210x280 px
			.profile#Alan
				img(src="images/profile_pics/alan_wilkins.jpg" alt="Alan Wilkins")
				article
					span Alan Wilkins
					p is the director of the Faculty Center. He has also served as Academic Vice President, chair of the Department of Organizational Behavior, and mission president in Argentina.

			.profile
				img(src="images/profile_pics/jane_birch.jpg" alt="Jane Birch")
				article
					span Jane Birch
					p is assistant director for faculty development at the Faculty Center. Her passions include BYU, BYU faculty, faith, and learning. She thinks BYU has amazing faculty members and enjoys serving them.
		#team.clearfix
			h2 Research Team
			//-profile pictures should be square, at least 200x200px
			
			.profile
				img(src="images/profile_pics/thomas_ferrin.jpg" alt="Thomas Ferrin")
				article
					span Thomas Ferrin (the organizer)
					p is a master’s student in instructional psychology and technology. He studies theories of moral agency and learning.
			.profile
				img(src="images/profile_pics/beth_wilkins.jpg" alt="Beth Wilkins")
				article
					span Beth Wilkins (the transformer)
					p is a PhD student in instructional psychology and technology. She studies transformative learning.
			.profile
				img(src="images/profile_pics/michael_matthews.jpg" alt="Michael Matthews")
				article
					span Michael Matthews (the evaluator)
					//- p has shifted his focus to his PhD dissertation. We enjoyed his dedication to BYU and help with evaluation.
					p is a PhD student in instructional psychology and technology. He also teaches psychology at UVU.
			.profile
				img(src="images/profile_pics/justin_beard.jpg" alt="Justin Beard")
				article
					span Justin Beard (the video guy)
					p is a mechanical engineering major. In his free time, he likes to watch movies, build LEGO, and try new foods.
			.profile
				img(src="images/profile_pics/matt_armstrong3.jpg" alt="Matt Armstrong")
				article
					span Matt Armstrong (the other video guy)
					p is a communications major. A former camera operator for Studio C, his passions include music, film, and creativity.
			.profile
				img(src="images/profile_pics/lisa_hamilton.jpg" alt="Lisa Hamilton")
				article
					span Lisa Hamilton (the smiling secretary)
					p is a family studies major. She enjoys ice cream, laughing, and helping families with special needs children.
			.profile
				img(src="images/profile_pics/caroline_bailey.jpg" alt="Caroline Bailey")
				article
					span Caroline Bailey (the real MVP)
					p is a sociology major and recently returned missionary. She hopes to work for an NGO and defend family as a sacred institution.
			.profile
				img(src="images/profile_pics/jacque_johnson.jpg" alt="Jacque Johnson")
				article
					span Jacque Johnson (the wise researcher)
					p is a PhD student in instructional psychology and technology. Her qualitative research skills are amazing.
			.profile
				img(src="images/profile_pics/ian_mclaughlin.jpg" alt="Ian McLaughlin")
				article
					span Ian McLaughlin (the contextualizer)
					p is a history major who loves Greek tragedy. He recently returned from a mission to Brazil.


			.profile.former
				img(src="images/profile_pics/donovan_gregory.jpg" alt="Donovan Gregory")
				article
					span Donovan Gregory (the email man)
					p was a great asset to our team. He has moved north to continue his studies at BYU-Idaho.
					//- p is a history major. He recently received an ORCA grant to study dispensations.
			.profile.former
				img(src="images/profile_pics/david_dixon.jpg" alt="David Dixon")
				article
					span David Dixon (the stats guru)
					p has moved to Stanford to pursue a PhD. His work on statistical analysis and interpretation was invaluable.
					//- p is a sociology major. He will be leaving soon to pursue a PhD in organizational behavior at Stanford University.
			.profile.former
				img(src="images/profile_pics/melissa_hawkley.jpg" alt="Melissa Hawkley")
				article
					span Melissa Hawkley (the visionary)
					p is off on new adventures. However, her unique vision and approach will continue to guide our efforts.
					//- p is a consultant. She received her PhD in instructional psychology and technology from BYU.
			.profile.former
				img(src="images/profile_pics/katherine_morris.jpg" alt="Katherine Morris")
				article
					span Katherine Morris (the interviewer)
					p has finished her master's degree. We are thankful for the perspectives and interviewing skills she brought!
					//- p is a master’s student in communications disorders. She is interested in Mormon artists.
			.profile.former
				img(src="images/profile_pics/greg_williams.jpg" alt="Greg Williams")
				article
					span Greg Williams (the creative master)
					p recently moved on to different work, but we are grateful for his inspired ideas and amazing video contributions!
					//- p is a master’s student in instructional psychology and technology. He likes to read, eat, and watch Cary Grant movies.
	#contribute
		a.title(href="getinvolved.html") Get involved!
		#share.miniWay
			a(target="_blank" href='http://goo.gl/forms/CNKOUbSTri')
				img(src="images/getinvolved/story.png")
				p Share a story
				p of an experience or insight that helped you see and accomplish the BYU vision
		#teamup.miniWay
			a(target="_blank" href='http://goo.gl/forms/ndbk5lH3uU')
				img(src="images/getinvolved/help.png")
				p Other
				p Let us know how you'd like to get involved!
