
extends _layout

block append styling
	link(rel='stylesheet', href='css/aboutus.css')

block prepend contentwrapper
	- var contentclasses = ''

block navlinks
	li 
		a.single(href='index.html') Home
	li
		a.single(href='examples.html') Examples
	li
		a.single(href='research.html#completedResearch') Research
	li
		a.single.current(href='about.html') About Us
	li
		a.single(href='contribute.html') Contribute

block content
	#aboutus
		.pageIntro
			p Our purpose is to support and inspire faculty in fulfilling their stewardships to help students grow both spiritually and intellectually.
		#leaders.clearfix
			h2 Leadership
			//- profile pictures should be 210x280 px
			.profile#Alan
				img(src="images/profile_pics/alan_wilkins.jpg" alt="Alan Wilkins")
				article
					span Alan Wilkins
					p is the director of the faculty center. He has also served as Academic Vice President, chair of the Department of Organizational Behavior, and mission president in Argentina.

			.profile
				img(src="images/profile_pics/jane_birch.jpg" alt="Jane Birch")
				article
					span Jane Birch
					p is an assistant director of the faculty center and works hard as the faculty database curator. She earned a PhD from BYU in Instructional Science.
		#team.clearfix
			h2 Research Team
			//-profile pictures should be square, at least 200x200px
			.profile
				img(src="images/profile_pics/katherine_morris.jpg" alt="Katherine Morris")
				article
					span Katherine Morris (the interviewer)
					p is a master’s student in communications disorders. She is interested in Mormon artists.
			.profile
				img(src="images/profile_pics/thomas_ferrin.jpg" alt="Thomas Ferrin")
				article
					span Thomas Ferrin (the organizer)
					p is a master’s student in instructional psychology and technology. He wants to study moral agency and parenting.
			.profile
				img(src="images/profile_pics/melissa_hawkley.jpg" alt="Melissa Hawkley")
				article
					span Melissa Hawkley (the visionary)
					p is a consultant and recently received her PhD in instructional psychology and technology from BYU.
			.profile
				img(src="images/profile_pics/david_dixon.jpg" alt="David Dixon")
				article
					span David Dixon (the stats guru)
					p is a sociology major. He will be moving on soon to PhD studies in organizational behavior.
			.profile
				img(src="images/profile_pics/greg_williams.jpg" alt="Greg Williams")
				article
					span Greg Williams (the creative master)
					p is a master’s student in instructional psychology and technology. He likes to read, eat, and watch Cary Grant movies.
			.profile
				img(src="images/profile_pics/michael_matthews.jpg" alt="Michael Matthews")
				article
					span Michael Matthews (the evaluator)
					p is a PhD student in instructional psychology and technology at BYU. He also teaches psychology at UVU.
			.profile
				img(src="images/profile_pics/beth_wilkins.jpg" alt="Beth Wilkins")
				article
					span Beth Wilkins (the transformer)
					p is a PhD student in instructional psychology and technology. She studies transformative learning.
			.profile
				img(src="images/profile_pics/justin_beard.jpg" alt="Justin Beard")
				article
					span Justin Beard (the video guy)
					p is a mechanical engineering major. In his free time, he likes to watch movies, build LEGO, and try new foods.
			.profile
				img(src="images/profile_pics/donovan_gregory.jpg" alt="Donovan Gregory")
				article
					span Donovan Gregory (the email man)
					p is a history major. He recently received and ORCA grant to study dispensations—cool, huh?



