
extends _layout

block pageTitle
	| Faith & Learning Initiative

block settings
	script.
		var pageSettings = {
			jQueryURL:     "http://byuweb.github.io/Global-Assets/js/jquery-1.10.2.min.js", // Use this default, or load jQuery from somewhere else
			jQueryVersion: "1.10.2", // The jQuery version for fallback in case there's a problem loading jQuery
			loadslider:    true, // Whether the image slider is present on the page
			additionalScripts:   [], // Array of strings specifying URLs for additional scripts to load
			gcse_search:    true, // Use the Google Custom Search Engine for the site's search?
			gcse_search_id: '009932716493032633443:hlqjz33kfkc',  // Use this BYU GCSE id, or insert your own
			analytics_key:  'UA-59389403-1' // Insert your Google Analytics key
		}


block append styling
	link(rel='stylesheet', href='css/examples.css')

block prepend contentwrapper
	- var contentclasses = ''

block nav
			.nav-container

				// Primary Nav
				nav#primary-nav(role='navigation'): ul
					li 
						a.single(href='index.html') Home
					li
						a.single.current(href='examples.html') Examples
					li
						a.single(href='research.html#completedResearch') Research
					li
						a.single(href='about.html') About Us

				// Secondary Nav
				nav#secondary-nav(role='navigation'): ul
					li
						a(href='nfseminar.html') New Faculty Seminar
						//- ul.sub
						//- 	li: a(href='') 2015
						//- 	li: a(href='') 2014
						//- 	li: a(href='') 2013
					li
						a(href='faq.html') Common Concerns
						//- ul.sub
						//- 	li: a(href='') null
						//- 	li: a(href='') null
						//- 	li: a(href='') null

block content

	#trialvideos
		iframe(width="560" height="315" margin="auto" src="https://www.youtube.com/embed/ZFzuZeKZaGc?rel=0" frameborder="0" allowfullscreen)
		iframe(width="560" height="315" margin="auto" src="https://www.youtube.com/embed/44UKjoRbMXU?rel=0" frameborder="0" allowfullscreen)
		iframe(width="560" height="315" margin="auto" src="https://www.youtube.com/embed/FcWh7s9wJpA?rel=0" frameborder="0" allowfullscreen)
		iframe(width="560" height="315" margin="auto" src="https://www.youtube.com/embed/HtlSkpH-TF0?rel=0" frameborder="0" allowfullscreen)
	#contribute
		p Help us spread the light by sharing your thoughts, experiences, and efforts related to faith and learning at BYU.
		strong: p Contribute as a&hellip;
		#button-container
			button Student
			button Faculty/Staff
			button Friend to BYU
		
