extends _layout

block append styling
	link(rel='stylesheet', href='css/examples.css')

block prepend contentwrapper
	- var contentclasses = ''

block navlinks
	li 
		a.single(href='index.html') Home
	li
		a.single.current(href='examples.html') Examples
	li
		a.single(href='research.html#completedResearch') Research
	li
		a.single(href='about.html') About Us
	li
		a.single(href='contribute.html') Contribute

block content

	#trialvideos
		iframe(width="560" height="315" margin="auto" src="https://www.youtube.com/embed/ZFzuZeKZaGc?rel=0" frameborder="0" allowfullscreen)
		iframe(width="560" height="315" margin="auto" src="https://www.youtube.com/embed/44UKjoRbMXU?rel=0" frameborder="0" allowfullscreen)
		iframe(width="560" height="315" margin="auto" src="https://www.youtube.com/embed/FcWh7s9wJpA?rel=0" frameborder="0" allowfullscreen)
		iframe(width="560" height="315" margin="auto" src="https://www.youtube.com/embed/HtlSkpH-TF0?rel=0" frameborder="0" allowfullscreen)
	#contribute
		p Help us spread the light by sharing your thoughts, experiences, and efforts related to faith and learning at BYU.
		strong: p Contribute as a&hellip;
		#button-container
			button Student
			button Faculty/Staff
			button Friend to BYU
		
