
extends _layout

block append styling
	link(rel='stylesheet', href='css/getinvolved.css')

block prepend contentwrapper
	- var contentclasses = ''

block nav
	.nav-container

		// Primary Nav
		nav#primary-nav(role='navigation'): ul
			li 
				a(href='index.html') Home
			li
				a(href='examples.html') Examples
			li
				a(href='research.html') Research
			li
				a.current(href='getinvolved.html') Get Involved
			li
				a(href='about.html') About Us

				
block content
		.pageIntro
			//- 	p Help us spread the light by sharing your thoughts, experiences, and efforts related to faith and learning at BYU.
			//- p Here's how you can get involved:
		#getinvolved
			#email.way
				a(target="_blank" href="http://goo.gl/forms/j2gzll1KJV")
					img(src="images/getinvolved/email.png")
					p Join our mailing list
			#event.way
				a(target="_blank" href='http://goo.gl/forms/94ZBGsGyiR')
					img(src="images/getinvolved/event.png")
					p Submit an event related to Faith and Learning at BYU
			#faculty.way
				a(target="_blank" href='http://goo.gl/forms/stuffgoeshere')
					img(src="images/getinvolved/spotlight.png")
					p Suggest a faculty member for us to spotlight
			#question.way
				a(target="_blank" href='http://goo.gl/forms/stuffgoeshere')
					img(src="images/getinvolved/question.png")
					p Ask a question that you would like us to research
			#research.way
				a(target="_blank" href='http://goo.gl/forms/stuffgoeshere')
					img(src="images/getinvolved/completed.png")
					p Share with us your completed research
			#current.way
				a(target="_blank" href='http://goo.gl/forms/stuffgoeshere')
					img(src="images/getinvolved/current.png")
					p Tell us about your current research
			#meeting.way
				a(target="_blank" href='http://goo.gl/forms/stuffgoeshere')
					img(src="images/getinvolved/meeting.png")
					p Invite others to your recurring meeting related to faith and learning
			#share.way
				a(target="_blank" href='http://goo.gl/forms/stuffgoeshere')
					img(src="images/getinvolved/story.png")
					p Share an experience, insight, or other light that helped you see and accomplish the BYU vision
			#teamup.way
				a(target="_blank" href='http://goo.gl/forms/stuffgoeshere')
					img(src="images/getinvolved/help.png")
					p Or &hellip; Let us know how you'd like to help us!

