
extends _layout

block append styling
	link(rel='stylesheet', href='css/getinvolved.css')

block prepend contentwrapper
	- var contentclasses = ''

block nav
	.nav-container

		// Primary Nav
		nav#primary-nav(role='navigation'): ul
			li 
				a(href='index.html') Home
			li
				a(href='examples.html') Videos &amp; Quotes
			li
				a(href='research.html') Research
			li
				a.current(href='getinvolved.html') Get Involved
			li
				a(href='about.html') About Us

				
block content
		.pageIntro
			//- 	p Help us spread the light by sharing your thoughts, experiences, and efforts related to faith and learning at BYU.
			//- p Here's how you can get involved:
		#getinvolved
			#email.way
				a(target="_blank" href="http://goo.gl/forms/j2gzll1KJV")
					img(src="images/getinvolved/email.png")
					p Join our mailing list
					p to get notified about new events, quotes, and videos.
			#event.way
				a(target="_blank" href='http://goo.gl/forms/94ZBGsGyiR')
					img(src="images/getinvolved/event.png")
					p Submit an event
					p related to Faith and Learning at BYU
			#faculty.way
				a(target="_blank" href='http://goo.gl/forms/zPp7kR5Pr8')
					img(src="images/getinvolved/spotlight.png")
					p Suggest someone
					p for us to spotlight
			#question.way
				a(target="_blank" href='http://goo.gl/forms/GN9gd1NnMj')
					img(src="images/getinvolved/question3.png")
					p Ask a question
					p that you would like us to research
			#research.way
				a(target="_blank" href='http://goo.gl/forms/8R5Kif85tZ')
					img(src="images/getinvolved/completed.png")
					p Share your completed research
					p for us to post on the research page
			#current.way
				a(target="_blank" href='http://goo.gl/forms/smneYy73jF')
					img(src="images/getinvolved/current.png")
					p Share your ongoing research
					p for us to post on the research page
			#meeting.way
				a(target="_blank" href='http://goo.gl/forms/OeiJvQNmXC')
					img(src="images/getinvolved/meeting.png")
					p Join recurring faculty-hosted discussions
					p related to faith and learning
			#share.way
				a(target="_blank" href='http://goo.gl/forms/CNKOUbSTri')
					img(src="images/getinvolved/story.png")
					p Share a story
					p of an experience or insight that helped you see and accomplish the BYU vision
			#teamup.way
				a(target="_blank" href='http://goo.gl/forms/ndbk5lH3uU')
					img(src="images/getinvolved/help.png")
					p Other
					p Let us know how you'd like to get involved!

