extends _layout

block append styling
	link(rel='stylesheet', href='css/index.css')

block prepend contentwrapper
	- var contentclasses = ''

block content

	#feature.clearfix
		a.feature-image(href='examples.html#C6j8UsGU__o', style="background: url('images/FeatureAttractions/gHandley.jpg') no-repeat left center; background-size: contain;")
			//- using 'sddefault' instead of 'mqdefault' in the URL gives a bigger picture.
		.feature-description(data-background="#d1e4f6", data-shadow="#91b2d2")
			h2
				a(href='examples.html#C6j8UsGU__o') Modeling intellectual honesty and Christian scholarship
			p George Handley (Humanities) discusses maintaining our faith while meeting difficult ideas with intellectual integrity.
	
	#intro
		p.justfull The Faith &amp; Learning Initiative is an effort to spotlight, support, and inspire faculty as they fulfill the unique mission of BYU: &ldquo;to assist individuals in their quest for perfection and eternal life.&rdquo;
		p.justright (See #[a(href="http://aims.byu.edu/mission_statement" target="_blank") Mission &amp; Aims])	

	#newExamples.clearfix
		.titlebox
			h2 Faculty Examples
			p Every faculty member combines faith and learning in a unique way.
			a(href="examples.html") see all examples &rarr;
		.contentbox
			.newExample
				a(href='examples.html#oezXLQqLVj0')
					img(src='http://img.youtube.com/vi/oezXLQqLVj0/mqdefault.jpg')
				h3
					a(href='examples.html#oezXLQqLVj0') How do you show students you care?
				p.name Jeffrey Barrow
				p.dept Physiological &amp; Developmental Biology
			.newExample
				a(href='examples.html#FcWh7s9wJpA')
					img(src='http://img.youtube.com/vi/FcWh7s9wJpA/mqdefault.jpg')
				h3
					a(href='examples.html#FcWh7s9wJpA') Following the promptings of the Spirit
				p.name Deborah Dean
				p.dept English
			.newExample
				a(href='examples.html#x5qozeWPKrM')
					img(src='http://img.youtube.com/vi/x5qozeWPKrM/mqdefault.jpg')
				h3
					a(href='examples.html#x5qozeWPKrM') What really matters: Helping students see their potential
				p.name Kent Blad
				p.dept Nursing
	#calendar
		.titlebox
			h2 Upcoming Events
			//- replace this link with a google form.
			a(target="_blank" href='http://goo.gl/forms/94ZBGsGyiR') Submit an event&rarr;
			a(href='http://calendar.byu.edu/') Full BYU Calendar
		.contentbox
			.event
				h3
					span.date 9
					| Jul, Thursday
				.eventname
					p 2nd Annual Wheatley &ldquo;Faith Seeking Understanding&rdquo; Summer Seminar: Public Symposium
				.eventinfo
					p HBLL Auditorium, 9 AM - 4 PM
					a(href="http://wheatley.byu.edu/events/individual.cfm?id=167" target="_blank") More information

			.event
				h3
					span.date 17
					| Sept, Thursday
				.eventname
					p Faith &amp; Intellect Lecture, Marilynne Robinson
				.eventinfo
					p Hinckley Center Assembly Hall, 7:30 PM
					a(href="http://wheatley.byu.edu/events/individual.cfm?id=176" target="_blank") (Source)
	#contribute
		a(href="getinvolved.html") Get involved!
