extends _layout

block append settings
	script(src='js/research.js')

block append styling
	link(rel='stylesheet', href='css/research.css')

block prepend contentwrapper
	- var contentclasses = ''

block navlinks
	li 
		a(href='index.html') Home
	li
		a(href='examples.html') Videos &amp; Quotes
	li
		a.current(href='research.html') Research
	li
		a(href='getinvolved.html') Get Involved
	li
		a(href='about.html') About Us

block content
	#research.clearfix
		.pageIntro
			p Research on topics related to faith and learning happens all over campus. See what people are doing&mdash;and get involved!
		#fli.clearfix
			h2 Research by the Faith &amp; Learning Initiative
			.borderbox
				.scrollbox
					article
						p.title Spiritually Strengthening and Intellectually Enlarging Faculty: What Students Want (2011)
					article
						p.title What Students Don’t Like: Distinguishing the Least from the Most Successful Professors at Intellectually and Spiritually Strengthening (2013)
					article
						p.title Three Questions Students Seem to be Asking&nbsp;
							span (in progress)
					article
						p.title A Paper that is Related to Faith &amp; Learning&nbsp;
							span (in progress)
					article
						p.title Another Paper that is Related to Faith &amp; Learning at BYU&nbsp;
							span (in progress)
				.detailBox
					.details(style="height: 100%; background: url('images/research/introBox3.png') no-repeat")
					.details.hidden
						p.title Spiritually Strengthening and Intellectually Enlarging Faculty: What Students Want (2011)
						article.abstract
							p ABSTRACT: 
							p What makes for a quality education at a religious university? In this research study, we asked both faculty and students at Brigham Young University to describe the factors that make a difference in an education that is both “spiritually strengthening and intellectually enlarging.” We explore the role that the gospel can play in secular learning and what students consider important in their courses and in their professors. One conclusion we draw from the data is that who the professor is (faculty characteristics) is more important that what the professors does (faculty techniques).
							hr
						article.snippet
							p The founding charge of BYU is to teach every subject with the Spirit of God. As he sent Karl G. Maeser to Provo to lead the fledgling Brigham Young Academy, Brigham Young told him: “Brother Maeser, I want you to remember that you ought not to teach even the alphabet or the multiplication tables without the Spirit of God.” Reflecting on that charge, Elder Spencer W. Kimball explained that it is not intended “that all of the faculty should be categorically teaching religion constantly in their classes, but . . . that every . . . teacher in this institution would keep his subject matter bathed in the light and color of the restored gospel.”
							p We have heard faculty across campus who desire to provide educational experiences to their students that are both “spiritually strengthening and intellectually enlarging” (Aims of a BYU Education) in the spirit of Brigham Young’s charge but who wonder how it can be done. Some have asked how they can cover everything necessary in their classes and still have time to incorporate gospel ideas. Others are concerned that praying in class or bringing up gospel topics may lead to less critical thinking and lower expectations for performance (a “Sunday School” approach). Still others are concerned that the &hellip;
						p.moreLink To continue reading, #[a(target="_blank" href="data/Spiritually Strengthening and Intellectually  Enlarging Faculty: What Students Want.pdf") download the PDF]
					
					.details.hidden
						p.title What Students Don’t Like: Distinguishing the Least from the Most Successful Professors at Intellectually and Spiritually Strengthening (2013)
						article.abstract
							p ABSTRACT: 
							p During winter semester 2012, we collaborated with Dr. Robert Ridge to conduct a survey and focus groups to investigate what separates the most from the least successful BYU professors in terms of being spiritually and intellectually strengthening. Previously, our research had described what the most successful faculty do to be both spiritually and intellectually strengthening, but we had never investigated what the faculty members who are least successful do and how the most successful professors differed from them. We hypothesized that some of the things students said in previous research might be said of both successful and less successful professors. For example, it might be said that a lot of poor teachers assign a lot of homework, but the same might be said about many great teachers.
							p This article is a summary of the characteristics of faculty who BYU students identify as some of the least successful in being spiritually and intellectually strengthening. It is important to place this research into context. BYU students, in general, are very happy with their education and their professors at BYU. We also know that most faculty would like to do even better. Our hope is that by identifying what students think gets in the way of a positive intellectual and spiritual student experience, this report might assist faculty in their efforts to improve.
							hr
						article.snippet
							p We worked with two applied social psychology classes taught by Dr. Ridge. With his class of graduate students we developed a survey that they administered to a random sample of 1200 undergraduate students in their sophomore or junior year at BYU. As part of the survey, we asked respondents if they would be willing to participate in a focus group to further explore the issues in the survey. We used their responses to place them into specific focus groups, which were moderated by the students in Dr. Ridge’s undergraduate class. These students also recorded and transcribed the focus group discussions. This report presents the most common themes from comments made by students &hellip;
						p.moreLink To continue reading, #[a(target="_blank" href="/data/What Students Don’t Like- Distinguishing the Least from the Most Successful Professors at Intellectually and Spiritually Strengthening.pdf") download the PDF]
					
					.details.hidden
						p.title Three Questions Students Seem to be Asking&nbsp;
							span (in progress)
						article.abstract
							p DESCRIPTION: 
							p Integer et rutrum leo, sed ornare velit. Donec et sollicitudin arcu, at luctus nibh. Nulla dictum tincidunt turpis eu consequat. Sed adipiscing eros a nisi dictum mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus urna lorem, porta sed congue ut, sollicitudin quis erat. Phasellus condimentum odio elit, in placerat augue congue ac. Sed dictum a justo quis ultrices.
							hr
						article.status
							p STATUS:
							p Nulla dictum tincidunt turpis eu consequat. Sed adipiscing eros a nisi dictum mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus urna lorem, porta sed congue ut, sollicitudin quis erat. Phasellus condimentum odio elit, in placerat augue congue ac. Sed dictum a justo quis ultrices. Aenean congue orci quis tortor rhoncus fringilla. Nulla dictum tincidunt turpis eu consequat. Sed adipiscing eros a nisi dictum mollis.
						p.moreLink To get involved, #[a(href="#email") contact the Faculty Center]
					
					.details.hidden
						p.title A Paper that is Related to Faith &amp; Learning&nbsp;
							span (in progress)
						article.abstract
							p DESCRIPTION: 
							p Ut sit amet magna orci. Integer sit amet varius ipsum. Ut mattis ullamcorper fermentum. Integer pretium felis sit amet urna volutpat, ac elementum ante interdum. Nam auctor eget quam vitae fringilla.
							hr
						article.status
							p STATUS:
							p Sed dictum a justo quis ultrices. Aenean congue orci quis tortor rhoncus fringilla. Nulla dictum tincidunt turpis eu consequat. Sed adipiscing eros a nisi dictum mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus urna lorem, porta sed congue ut, sollicitudin quis erat. Phasellus condimentum odio elit, in placerat augue congue ac.
						p.moreLink To get involved, #[a(href="#email") contact the Faculty Center]
					
					.details.hidden
						p.title Another Paper that is Related to Faith &amp; Learning at BYU&nbsp;
							span (in progress)
						article.abstract
							p DESCRIPTION: 
							p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus commodo vulputate elementum. Nam sed urna non tellus vulputate molestie sit amet at sapien. Vivamus massa odio, dignissim ac ante at, euismod dignissim risus. Cras ut blandit lorem. Maecenas nisl quam, cursus nec aliquet facilisis, mattis id augue.
							hr
						article.status
							p STATUS:
							p Suspendisse rutrum quam vitae leo tempus luctus. Nullam sapien leo, egestas eget diam ac, vestibulum malesuada ipsum. Phasellus eget felis quam. Mauris ut lorem vel tortor ornare fermentum in non justo. Cras vel varius ligula. Vestibulum varius adipiscing tortor.
						p.moreLink To get involved, #[a(href="#email") contact the Faculty Center]


		#faculty.clearfix
			h2 Research by Faculty
			.borderbox
				.scrollbox
					article
						p.title An Awesome Project: Faith and Civil Engineering (2013)
						p.author Leonard Vinci
						p.dept Civil Engineering
					article
						p.title A Faithful Exploration of Ancient Literature (2012)
						p.author Antonia Vivaldi
						p.dept Linguistics
					article
						p.title Logic and Testimony&nbsp;
							span (in progress)
						p.author Johannes Brahms
						p.dept Philosophy
					article
						p.title Daily Exercise: A Sacred Endeavor&nbsp;
							span (in progress)
						p.author Galileo Von Trapp
						p.dept Exercise &amp; Wellness
				.detailBox
					.details(style="height: 100%; background: url('images/research/introBox3.png') no-repeat")
					.details.hidden
						p.title An Awesome Project: Faith and Civil Engineering
						.authorPic
							img(src="images/research/people/default.png")
						p.author Leonard Vinci#[br](PhD student, Civil Engineering)
						article.abstract
							p ABSTRACT:
							p Sed dapibus est id enim facilisis, at posuere turpis adipiscing. Quisque sit amet dui dui. Duis rhoncus velit nec est condimentum feugiat. Donec aliquam augue nec gravida lobortis. Nunc arcu mi, pretium quis dolor id, iaculis euismod ligula. Donec tincidunt gravida lacus eget lacinia. Cras et dui mollis, tempus velit placerat, sodales tellus.
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sapien quam. Sed dapibus est id enim facilisis, at posuere turpis adipiscing. Quisque sit amet dui dui. Duis rhoncus velit nec est.
						p.moreLink To continue reading, #[a(target="_blank" href="#file") download the PDF]

					.details.hidden
						p.title A Faithful Exploration of Ancient Literature
						.authorPic
							img(src="images/research/people/default.png")
						p.author Antonia Vivaldi#[br](Professor, Linguistics)
						article.abstract
							p ABSTRACT:
							p Id enim facilisis, at posuere turpis adipiscing. Quisque sit amet dui dui. Duis rhoncus velit nec est condimentum feugiat. Donec aliquam augue nec gravida lobortis. Nunc arcu mi, pretium quis dolor id, iaculis euismod ligula. Donec tincidunt gravida lacus eget lacinia. Cras et dui mollis, tempus velit placerat, sodales tellus.
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sapien quam. Sed dapibus est id enim facilisis, at posuere turpis adipiscing. Quisque sit amet dui dui. Duis rhoncus velit nec est.
							p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque et venenatis sapien. Maecenas sem diam, lacinia in ipsum et, fermentum rutrum lacus.
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sapien quam. Sed dapibus est id enim facilisis, at posuere turpis adipiscing.
						p.moreLink To continue reading, #[a(target="_blank" href="#file") download the PDF]

					.details.hidden
						p.title Logic and Testimony
						.authorPic
							img(src="images/research/people/default.png")
						p.author Johannes Brahms#[br](Adjunct Professor, Philosophy)
						article.abstract
							p DESCRIPTION:
							p Dapibus est id enim facilisis, at posuere turpis adipiscing. Quisque sit amet dui dui. Duis rhoncus velit nec est condimentum feugiat. Donec aliquam augue nec gravida lobortis. Nunc arcu mi, pretium quis dolor id, iaculis euismod ligula. Donec tincidunt gravida lacus eget lacinia. Cras et dui mollis, tempus velit placerat, sodales tellus.
							hr
						article.status
							p STATUS:
							p Suspendisse rutrum quam vitae leo tempus luctus. Nullam sapien leo, egestas eget diam ac, vestibulum malesuada ipsum. Phasellus eget felis quam. Mauris ut lorem vel tortor ornare fermentum in non justo. Cras vel varius ligula. Vestibulum varius adipiscing tortor.
						p.moreLink To get involved, #[a(href="#email") contact Johannes]

					.details.hidden
						p.title Daily Exercise: A Sacred Endeavor
						.authorPic
							img(src="images/research/people/default.png")
						p.author Galileo Von Trapp#[br](Associate Professor, Exercise &amp; Wellness)
						article.abstract
							p DESCRIPTION:
							p At posuere turpis adipiscing. Quisque sit amet dui dui. Duis rhoncus velit nec est condimentum feugiat. Donec aliquam augue nec gravida lobortis. Nunc arcu mi, pretium quis dolor id, iaculis euismod ligula. Donec tincidunt gravida lacus eget lacinia. Cras et dui mollis, tempus velit placerat, sodales tellus.
							hr
						article.status
							p STATUS:
							p Suspendisse rutrum quam vitae leo tempus luctus. Nullam sapien leo, egestas eget diam ac, vestibulum malesuada ipsum. Phasellus eget felis quam. Mauris ut lorem vel tortor ornare fermentum in non justo. Cras vel varius ligula. Vestibulum varius adipiscing tortor.
						p.moreLink To get involved, #[a(href="#email") contact Dr. Von Trapp]


	#contribute.clearfix
		a.title(href="getinvolved.html") Get involved!
		#research.miniWay
			a(target="_blank" href='http://goo.gl/forms/8R5Kif85tZ')
				img(src="images/getinvolved/completed.png")
				p Share your completed research
				p for us to post here
		#current.miniWay
			a(target="_blank" href='http://goo.gl/forms/smneYy73jF')
				img(src="images/getinvolved/current.png")
				p Share your ongoing research
				p for us to post here
		#question.miniWay
			a(target="_blank" href='http://goo.gl/forms/GN9gd1NnMj')
				img(src="images/getinvolved/question3.png")
				p Ask a question
				p that you would like us to research
		#meeting.miniWay
			a(target="_blank" href='http://goo.gl/forms/OeiJvQNmXC')
				img(src="images/getinvolved/meeting.png")
				p Join recurring faculty-hosted discussions
				p related to faith and learning